*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image: url("melbg.png");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

body {
   background-image: url("melbg.png");
   background-color: #cccccc;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #008BFF;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar ul li {
	display: inline-block;
	margin-left: 0px;
	list-style: none;
	margin-top: 0;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #fff;
    color: #008BFF;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav list-style
{
	display: inline-block;

}
	
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", "sans-serif";
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid white;
}

.main-nav li a:hover
{
	border: 1px solid white;
}