body {
	margin: 0;
	align-content: right;
	background: url(http://i.imgur.com/AKEVPSe.png);
	color: black;
	background: #fff;
}

body h1 {
	padding-top: 50px;
	font-size: 60px;
}

.jumbotron {
	padding-left: 15%;
}

.col-sm-4 {
  padding-bottom: 3%;
}

.col-sm-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 15%;
  cursor: pointer;
  font-size: 20px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    color: #black;
    text-align: right;
    font-size: 24px;
    padding: 2px 25px;
    text-decoration: none;
}

/* -------- footer -------- */


footer {
	position: relative;
   	bottom:0;

   	width:100%;
   	height:60px;  
	background-color: #3b3e47;
}
